.date{
    color: #ffffff;
}


.icon-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}